<!-- data about dog to put onto each dog card-->
{{! <h1>DOG DETAILS</h1> }}
<section class="card">
  {{!-- <a href="/user/{{id}}"> --}}
  {{!-- {{id}} --}}
    <div class="card-body">
      <h4 class="dog-title">{{dogName}}
      </h4>
      <img />
      <p>Borough: {{userBorough}}</p>
      <p>Age: {{dogAge}}</p>
      <p>Breed: {{dogBreed}}</p>
      <p>Favorite Activity: {{dogActivity}}</p>
      <p>Best Time of Day to Play: {{userAvailable}}</p>
    </div>
  </a>
</section>