<!-- data about dog to put onto each dog card-->
<section class="card">
<a href="/dog/{{id}}">
<div class="card-body">
    <h4>{{name}}
    </h4>
    <img>
    <p>Borough: {{userBorough}}</p>
    <p>Age: {{age}}</p>
    <p>Breed: {{breed}}</p>
    <p>Favorite Activity: {{activity}}</p>
    <p>Best Time of Day to Play: {{availability}}</p>
</div>
</a>
</section>